{% extends "base.html" %}
{% block content %}
    <div class="p-4 text-center border-top bg-dark border-secondary" style="color: #999999;"><h2>{{ article.title }}</h2></div>
    <div id="main-div" class="w-100 bg-dark">
        <div id="main-container" class="rounded bg-dark">
            <article id="article" class="w-100 bg-dark text-light">
                <div class="article-group bg-dark rounded">
                    <div class="d-inline justify-content-between">
                        <div class="d-inline">
                            <div class="article-author-info">
                                <img class="rounded" src="{{ url_for('static', filename='images/' + article.user.image) }}">
                            </div>
                            <div class="article-author-info">
                                <a href="{{ url_for('users.view', username=article.user.username) }}">{{ article.user.username }}</a>
                                <br>
                                <small class="text-light">{{ article.date.strftime('%b %d, %Y').replace(" 0", " ") }}</small>
                            </div>
                        </div>
                        {% if article.user == current_user %}
                            <div class="d-inline float-right mt-3 mr-2">
                                <a class="btn btn-outline-secondary" href="{{ url_for('articles.update', article_title=article.title) }}">Update</a>
                                <a class="btn btn-outline-secondary" href="{{ url_for('articles.delete_article', article_title=article.title) }}">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="article-group bg-dark text-light">
                        <div id="article.content" class="p-4 border-secondary" style="background-color: black; overflow-X: scroll;">
                            {{ HTMLCodeFormat(article.content).highlight()|safe }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <script>
        var article_like_count = parseInt("{{ count_attr(article, 1) }}");
        var article_dislike_count = parseInt("{{ count_attr(article, -1) }}");
        init_card("main-div");
        init_comments();
        function query(media) {
            if (media.matches) {
                var main = document.getElementById("main-div");
                main.className = main.className.replace("py-4", "");
            }
        }
        var media = window.matchMedia("(max-width: 600px)")
        query(media)
        media.addListener(query)
    </script>
{% endblock content %}