{% extends "base.html" %}
{% block content %}
<div class="p-4 text-center bg-dark border-top border-bottom border-secondary" style="color: #999999;"><h2>Categories</h2></div>
<div id="main-div" class="w-100 mt-0 border-left py-4 border-right border-bottom border-secondary bg-dark" style="background-image: URL({{ url_for('static', filename='images/bg.svg') }}); overflow:scroll; height: 40rem;">
    <div id="cat-container" class="container my-0 p-4 border border-secondary rounded" style="background:black;"></div>
</div>
<script>
    function init_categories() {
        var form = new FormData();
        form.append("categories", true);
        fetch("/categories", {
            method: "POST",
            body: form
        })
        .then(function(response) {
            if (response.status === 200) {
                return response.json();
            } else {
                throw new Error("Request failed.");
            }
        })
        .then(function(categories) {
            recursively_init_categories(categories, "cat-container");
        })
        .catch(function(error) {
            console.error(error);
        });
    }
    function recursively_init_categories(cats, id) {
        for (category of cats) {
            if (category.children.length > 0) {
                var child = false;
            } else {
                var child = true;
            }
            new Category(category.category, id, child);
            if (category.children.length > 0) {
                recursively_init_categories(category.children, `inner-${category.category}`);
            }
        }
    }
    init_categories();
</script>
{% endblock content %}