{% extends "base.html" %}
{% block content %}
    <div class="p-4 text-center bg-dark border-top border-secondary" style="color: #999999;">
        <h2>{% block header %}{% endblock header %}</h2>
    </div>
    <div class="my-4 w-100">
        <div id="list" class="p-4 rounded text-light border border-secondary" style="background-image: URL({{ url_for('static', filename='images/bg.svg') }}); overflow: auto; height: 35rem;">{% block init %}{% endblock init %}</div>
    </div>
{% endblock content %}
