a, button {
    text-decoration: none !important;
}

.img-fluid {
    border-radius: 50%;
}

.article-group {
    padding: 10px;
}

.article-author-info {
    display: inline-block;
    vertical-align:middle;
}

.article-group-link {
    text-decoration: none !important;
    color: #999999;
}

#title {
    color: #000000;
}

body {
    background-color: black;
}

* {
  font-family: monospace;
}

a {
    color: #ffffff;
}

a:hover {
    color: #666666;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 11px;
    }
}

.carousel-indicators {
    bottom: -0.5rem;
}

.gist-data, .gist-file {
    color: #fff !important;
    background: #000 !important;
    border-color: #343a40 !important;
}

.gist-meta {
    display: none;
}

.gist {
    .blob-wrapper {
        .highlight {
            background: #000;
            font-color: #fff;
        }
        td {
            color: #fff;
        }
        .pl-s {
            color: #099A13;
        }
    }
}
