a, button {
    text-decoration: none !important;
}

.img-fluid {
    border-radius: 50%;
}

.article-author-info {
    display: inline-block;
    vertical-align:middle;
}

.article-group-link {
    text-decoration: none !important;
    color: #999999;
}

#title {
    color: #000000;
}

body {
    background-color: black;
}

* {
  font-family: monospace;
  font-size: 14px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #666666;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }
    .article-group {
        padding: 0px;
        padding-bottom: 10px;
    }
    #header {
        height: 10rem;
    }
    #maincontent {
        margin-top: 10rem;
    }
}

.carousel-indicators {
    bottom: -0.5rem;
}
